<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">实例总数</h5>
                        <h3 class="card-text" id="total-instances">0</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">运行中</h5>
                        <h3 class="card-text" id="running-instances">0</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <h5 class="card-title">已停止</h5>
                        <h3 class="card-text" id="stopped-instances">0</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-secondary text-white">
                    <div class="card-body">
                        <h5 class="card-title">已终止</h5>
                        <h3 class="card-text" id="terminated-instances">0</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>